<nav class="navbar navbar-expand-lg bg-primary fs-5" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'catalog:product_list' %}"><i class="bi bi-box2-heart"></i>
            Интернет-магазин </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                       href="{% url 'catalog:product_list' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'catalog:product_create' %}">Добавить
                        продукт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'catalog:contacts' %}">Контакты</a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <div class="nav-link active"><i class="bi bi-person-circle"></i> {{ user.email }}</div>
                </li>
                <li class="nav-item">
                    <form method="post" action="{% url 'users:logout' %}" style="display: inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link nav-link active">
                            <i class="bi bi-box-arrow-right"></i> Выйти
                        </button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'users:login' %}"><i class="bi bi-box-arrow-in-right"></i> Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                       href="{% url 'users:register' %}">Регистрация</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
