{% extends 'catalog/base.html' %}
{% block title %}Удаление продукта{% endblock %}
{% block content %}
{% include 'catalog/menu.html' %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <h4 class="text-danger"> Вы действительно хотите удалить {{ object.name }}?</h4>
                    <div class="d-grid gap-5 d-md-flex justify-content-md-center m-5">
                        <button type="submit" class="btn btn-danger btn-lg">Удалить</button>
                        <a class="btn btn-primary btn-lg" href="{% url 'catalog:product_list' %}"
                           role="button">Отменить</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}